classes/__pycache__/ns.cpython-310.pyc
classes/__pycache__/__init__.cpython-310.pyc
classes/__pycache__/particles.cpython-310.pyc
scripts/__pycache__/__init__.cpython-310.pyc
scripts/__pycache__/globals.cpython-310.pyc
scripts/__pycache__/basic.cpython-310.pyc
scripts/__pycache__/orbits.cpython-310.pyc