classes/__pycache__/__init__.cpython-38.pyc
classes/__pycache__/axionclump.cpython-38.pyc
classes/__pycache__/minicluster.cpython-38.pyc
classes/__pycache__/ns.cpython-38.pyc
classes/__pycache__/particles.cpython-38.pyc

scripts/__pycache__/__init__.cpython-38.pyc
scripts/__pycache__/basic.cpython-38.pyc
scripts/__pycache__/globals.cpython-38.pyc
scripts/__pycache__/orbits.cpython-38.pyc